.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* for radio button css  */

.formstyle_admin div {
    display: inline-block;
    margin-right: 1rem;
  }

.formstyle_admin .one {
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 10px;
  }
  
  .formstyle_admin .two {
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 10px;
  }
  
  .formstyle_admin label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 250px;
    filter: grayscale(100%) opacity(70%);
    transition: all 0.5s ease;
  }
  
  .formstyle_admin label:hover {
    filter: grayscale(50%) opacity(85%);
    box-shadow: 0 0 15px #777;
  }
  
  .formstyle_admin input {
    position: absolute;
    z-index: 10;
    outline: none;
  }
  
  .formstyle_admin input:active + label, input:checked + label {
    filter: none;
    box-shadow: 0 2px 20px #18dbcd;
  } 
  
  .formstyle_admin span {
    position: absolute;
    top: 100%;
    left: 0;
  }
 .formstyle_admin input[type="radio"] {
	display: none !important;
}
:checked + .formstyleLabel::before {
	content: "✓";
	background-color: #009983;
	transform: scale(1);
}
.formstyleLabel::before {
	background-color: white;
	color: white !important;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
}
  
/*======= save button =======*/
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*====== input design ============*/
.groupStyle {	 
	position:relative;	 
	font-size: 1.5em;	 
	background: linear-gradient(21deg, #10abff, #1beabd);	 
	padding: 3px;	 
	display: inline-block;	 
	border-radius: 10px;	
}
.input {	 
	position:relative;	 
	font-size: 1.5em;	 
	background: linear-gradient(21deg, #10abff, #1beabd);	 
	padding: 3px;	 
	display: inline-block;	 	
}

/*custom*/
.labelSpan{
    margin-top: 20px;
    text-align: center;
    display: block;    
    width: 100%;
    font-size: 12px;
}
.upgrateClass, .upgrateClass:hover{
  color: #fff;
  text-decoration: none;
}
.groupStyle .custom{
  filter:none;
}
.groupStyle .custom:hover{
  filter:none !important;;
}
