
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */ 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}
.modal-dialog{
  width: 600px;
  margin: 30px auto;
  position: relative;
  width: auto; 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #959595;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px 15px;
  border-bottom: 1px solid #d5d5d5;
}

.modal-body {padding: 10px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

ul.contactform li {
	list-style:none;
	margin-top: 15px;}
.contactform{margin-left:-40px}
.checkboxes{
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}
.getyourfile{
	text-align:right;
}
.modal-header h4{
color: #007aaf !important;
margin-bottom: 0;
line-height: 1.5;
font-size: 30px;
font-weight: 700;
}
.modal {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 17px;
}

/* ================================= custom modal design for classic =============================*/
.headerDpbsp_classic h4 { 
	margin-top: 10px;
}
.customModalDpbsp_classic {
	border-radius: 10px;
}
.contactformDpbsp_classic li input{
	width: 100%;
}
.checkbox_classic input{
width: 14px!important;
}
/* ================================= custom modal design for mordan =============================*/
.headerDpbsp_mordan {
	padding: 0px 16px 15px; 
}
.headerDpbsp_mordan h4 { 
	margin-top: 10px;
}
.customModalDpbsp_mordan {
	border-radius: 10px;
}
.contactformDpbsp_mordan li input{
	width: 100%;
}
.checkbox_mordan input{
width: 14px!important;
}
.contactformDpbsp_mordan .input-from-control{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-bottom: 0;	
	display: block;
	width: 94%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
  overflow: visible;
}

.dwn_btn_mordan{ 
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px; 
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;


    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
           

}





 
